.jumbotron {
  color: #FFF;
  margin-top: 50px;
  background-color: mediumaquamarine; }

footer {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 10px 10px 0 10px;
  background-color: mediumaquamarine; }

.courses {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.course {
  width: 20%;
  margin: 10px;
  transition: 0.3s;
  background: #FFF;
  border: 1px solid #CCC; }

.course__title {
  color: #FFF;
  text-align: center;
  padding: 50px 10px;
  background: linear-gradient(to right, #0796f5, #0a9ef3); }

.course__description {
  padding: 10px;
  font-size: 16px;
  text-align: center; }

.course__footer {
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(to right, #15c5f1, #02f2fa); }

.tab-content {
  margin-top: 10px; }
